.sendMessage {
  display: flex;
  margin-top: 20px;
  position: relative;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid yellow; */
  height: 40px;
  gap: 10px;
}

.sendMessage input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.sendMessage button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.sendMessage button:hover {
  background-color: #0056b3; /* Hover background color */
}
