.slide-from-left-enter {
  transform: translateX(-100vw);
}

.slide-from-left-enter-active {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.slide-from-left-exit {
  transform: translateX();
}

.slide-from-left-exit-active {
  transform: translateX(-100vw);
  transition: transform 0.5s ease;
}

.hamburgerOnButton {
  border-radius: 25px;
  background-color: rgb(152, 171, 188);
  text-align: center;
  font-size: 20px;
}

.hamburgerOnButton > svg {
  width: 26px;
  height: 28px;
  margin: -8px;
}

/* body {
  overflow: hidden;
} */

.slide-from-left {
  /* border: 2px solid black; */
  height: 94vh;
  overflow: hidden;
  width: 30vw;
  position: fixed;
  top: 3px;
  background-color: gray;
  /* border-radius: 30px; */
  z-index: 9999;
}

.hamburgerDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.hamburgerDiv * {
  /* margin: auto; */
  text-align: center;
}

.navForHamBurger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navForHamBurger > .profile {
  padding-left: 20px;
}

.navForHamBurger > .backLogo {
  /* justify-self: flex-end; */
  /* align-self: flex-end; */
  /* margin: 0%; */
  margin-right: 2px;
  margin-top: 2px;
}

.navForHamBurger > .backLogo > button {
  width: 40px;
  background-color: rgb(5, 143, 5);
  border: none;
  border-radius: 15px;
  padding-right: 31px;
}

.navForHamBurger > .backLogo > button > svg {
  width: 15px;
  height: 19px;
}

.worldChat {
  width: 100%;
  height: 60px;
  text-align: center;
  /* border: 2px solid black; */
  align-self: center;
  justify-self: center;
}
.worldChat .worldChatBtn {
  /* margin-top: 19px; */
  width: 80%;
  height: 80%;
  border-radius: 25px;
  text-align: center;
  font-size: large;
  font-weight: bolder;

  /* border-radius: 25px; */
  /* font-size: 20px; */
  font-weight: bolder;
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  height: 80%;
  width: 80%;
  color: white;
}
.worldChatBtn:hover {
  border-color: #646cff;
}

.worldChatBtn:focus,
.worldChatBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.worldChat .worldChatBtn > svg {
  width: 20px;
  height: 20px;
  /* padding-top: 3px; */
  margin: -2px;
  margin-right: 8px;
}

.joinARoom {
  width: 100%;
  height: 60px;
  /* border: 2px solid black; */
}
.joinARoom > .joinRoom {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;

  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  height: 80%;
  width: 80%;
  color: white;
}

.joinRoom:hover {
  border-color: #646cff;
}
.joinRoom:focus,
.joinRoom:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.joinARoom > .joinRoom > svg {
  width: 20px;
  height: 20px;
  margin: -2px;
  padding-right: 8px;
}

.createARoom {
  width: 100%;
  height: 60px;
  /* border: 2px solid black; */
}

.createARoom > .createRoom {
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  height: 80%;
  width: 80%;
  color: white;
}

.createRoom:hover {
  border-color: #646cff;
}

.createRoom:focus,
.createRoom:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
